//TODO FIX

.card {
  max-width: 425px;
  width: 335px;
  background-color: #ffffff;
  border: solid 1px #e7e7ed;
  border-radius: 6px;
  margin: 10px;
  &__container {
    padding: 20px;
    &__header {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      margin-bottom: 14px;
      &__tag {
        color: #5c9df5;
      }
      &__date {
        color: #d8d8d8;
      }
    }
    &__title {
      font-size: 18px;
    }
    &__image {
      width: 100%;
      margin: 20px 0;
    }
    &__content {
      color: #525254;
      margin-bottom: 40px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid rgba(192, 200, 209, 0.1);
      padding: 10px 20px;
      &__icon {
        color: #c0c8d1;
        &__text {
          color: #c0c8d1;
          margin-left: 5px;
        }
      }
    }
  }
}